{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Semana Preparación Laboral{% endblock %}

{% block styles %}
    <link href="{% static 'tron/css/demo.css' %}" rel="stylesheet">
    <link href="{% static 'tron/examples/team/team.css' %}" rel="stylesheet">
    <link href="{% static 'tron/outdatedbrowser/outdatedbrowser.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="spl" %}
{% endblock %}

{% block container %}

    <section class="demo-page padding-bottom-2x">
      <div class="container">


        <!-- Page Header with Breadcrumbs -->
        <div class="page-header-with-breadcrumb">
            <div class="page-header td">
                <h1>Semana de Preparación Laboral<small></small></h1>
            </div>
            <div class="td text-right">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'about' %}">Sobre Nosotros</a></li>
                    <li class="active">Semana Preparación Laboral</li>
                </ol>
            </div>
        </div><!-- Page Header End -->

          <div class="row space-top space-bottom">
            La <b>Semana de Preparación Laboral</b> nace con el fin de apoyar a los estudiantes y egresados de la Facultad de Ciencias Físicas y Matemáticas de la Universidad de Chile en su proceso de ingresar al mundo laboral. Consiste en una serie de actividades, como charlas, talleres, conversatorios y paneles, que buscan acompañarlos en la búsqueda de opciones y en la preparación para los actuales procesos de selección.
          </div>
          <!--
          <div class="text-center space-bottom">
            <button type="button" class="btn btn-default"><a href="{% url 'inscriptions_spl' %}">¡Para inscribirte a las actividades haz click aquí!</a></button>
          </div>
        -->
          
          <div class="row">
          	<h3 class="block-heading">Lunes 5 de Septiembre: Inauguración & Contexto Laboral</h3>
          </div>

          <div class="row space-bottom">
              <div class="col-sm-6">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Evento Inaugural</h3></div>
                    <div class="panel-body small">
                      Momento en el que podrás inscribirte al resto de las actividades durante esta Semana de Preparación Laboral, además de poder conversar con gente del equipo de Feria Empresarial, para conocer el resto de los nuevos proyectos para este y próximos años.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Lugar: </b>Frontis Beauchef 850</li>
                      <li class="list-group-item"><b>Horario: </b>13:30 - 14:30 hrs</li>
                    </ul>
                  </div>
              </div>
              <div class="col-sm-6">
                 <div class="panel panel-danger">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Multi-charlas de Contexto Laboral</h3></div>
                    <div class="panel-body small">
                      Entérate de como está la situación laboral al momento de que egreses, opciones de trabajo, procesos de selección, emprendimientos, dificultad de encontrar empleo, entre otros aspectos. Además, si estás entre la elección de dos o más especialidades, entérate de qué trata la carrera, malla y prepárate para el mundo laboral.

                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><button type="button" class="btn btn-info btn-sm icon-right" data-toggle="modal" data-target="#Multicharlas">Ver detalles por carrera</button></li>
                    </ul>
                  </div>
              </div>

          </div>

          
          <div class="row">
          	<h3 class="block-heading">Martes 6 de Septiembre: Experiencia Internacional</h3>
          </div>

          <div class="row space-bottom">
              <div class="col-md-6">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Charla: “Aumenta tus posibilidades profesionales al tener experiencia en el extranjero”</h3>
                    </div>
                    <div class="panel-body small">
                      El instituto de idiomas Education First, uno de nuestros auspiciadores, nos deleitará con una charla acerca de la importancia del idioma y experiencia en el extranjero para la formación profesional de todos nosotros.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositores: </b>Education First</li>
                      <li class="list-group-item"><b>Lugar: </b>Auditorio Enrique D'Etigny</li>
                      <li class="list-group-item"><b>Horario: </b>12:00 - 13:30 hrs</li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-6">
                 <div class="panel panel-danger">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Foro: Conversatorio Internacional</h3>
                    </div>
                    <div class="panel-body small">
                      ¿Quieres hacer práctica en el extranjero? ¿Sueñas con ir de intercambio? Entérate de los procesos, experiencias y consejos que pueden compartir nuestros compañeros de universidad que ya han tenido la posibilidad de ir al extranjero. No pierdas tú oportunidad.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositores: </b>IIE y Dirección de Vinculación Externa</li>
                      <li class="list-group-item"><b>Lugar: </b>Zócalo Hall Sur</li>
                      <li class="list-group-item"><b>Horario: </b>14:30 - 16:00 hrs</li>
                    </ul>
                  </div>
              </div>

          </div>






          <!--
          <div class="row">
          	<b>Charla: “Aumenta tus posibilidades profesionales al tener experiencia en el extranjero”</b>
            <br>Expositor: Education First.
            <br>Lugar: Sala B01
            <br>Horario: 10:00-12:00
            <br><br>
          	<b>Foro: Conversatorio Internacional</b>
            <br>Expositores: IIE y Relaciones Internacionales FCFM
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 14:30-16:00          
          </div>
          -->

          
          <div class="row">
          	<h3 class="block-heading">Miércoles 7 de Septiembre: Cómo armar tu CV</h3>
          </div>



        <div class="row space-bottom">
            <div class="col-md-6">
                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                    <h3 class="panel-title">¿Cómo crear tu CV?</h3>
                  </div>
                  <div class="panel-body small">
                    ¿Sabías que el primer filtro de un proceso de reclutamiento es un buen CV? Entérate de los principales tips y herramientas para sacarle el mayor provecho a tu CV, partiendo así con una ventaja en tus procesos de selección.
                  </div>
                  <!-- List group -->
                  <ul class="list-group small">
                    <li class="list-group-item"><b>Expositores: </b>Katherine Lizama – Calidad de Vida</li>
                    <li class="list-group-item"><b>Lugar: </b>Auditorio Enrique D'Etigny</li>
                    <li class="list-group-item"><b>Horario: </b>10:00 - 12:00 hrs</li>
                  </ul>
                </div>
            </div>
 
            <div class="col-md-6">
               <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">
                  <h3 class="panel-title">Taller de CV: Mejóralo en 2 minutos</h3></div>
                <div class="panel-body small">
                  No sabes cómo mejorar tu CV para que sea atractivo y muestre lo preciso? En este taller te daremos sugerencias en tiempo récord para que enviar un buen Currículum ya no sea un problema.
                </div>
                <!-- List group -->
                <ul class="list-group small">
                  <li class="list-group-item text-center">
                    <p>Para esta actividad es <b>REQUISITO</b> llevar el CV impreso utilizando el formato tipo diseñado para la FCFM que puedes descargar <a href="{% url 'cv' %}">aquí</a>.</p>
                  <button type="button" class="btn btn-sm btn-default"><a href="{% url 'cv' %}">Descargar formato tipo CV</a></button>
                  </li>
                  <li class="list-group-item"><b>Expositores: </b>Katherine Lizama (Calidad de Vida), Sebastián Conde (Profesor DII), Patricia Muñoz (SAE).</li>
                  <li class="list-group-item"><b>Lugar: </b>Cafetería 851, Auditorio Enrique D'Etigny</li>
                  <li class="list-group-item"><b>Horario: </b>14:30 - 16:00 hrs (Duración por alumno: 2 minutos)</li>
                </ul>
              </div> 
            </div>
        </div>




        <!--
          <div class="row">
            <b>¿Cómo crear tu CV?</b>
            <br>Expositores: Katherine Lizama – Calidad de Vida.
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 10:00-12:00
            <br><br>
            <b>Charla: Adquiere una ventaja competitiva al crear tu CV y carta de presentación en inglés</b>
            <br>Expositores: Education First.
            <br>Lugar: Sala B104
            <br>Horario: 12:00-13:30
            <br><br>
            <b>Taller de CV</b>
            <br>Expositores: Calidad de Vida (1-2), Sebastián Conde, Ricardo Mancilla, Pilar Valderrama, Patricia Muñoz.
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 14:30-16:00 (Duración por alumno: 2 minutos)
          </div>
          -->

          
          <div class="row">
          	<h3 class="block-heading">Jueves 8 de Septiembre: Preparación de Entrevistas</h3>
          </div>


        <div class="row space-bottom">
            <div class="col-md-4">
                <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">
                  <h3 class="panel-title">Taller de Expresión Corporal</h3></div>
                <div class="panel-body small">
                  Las expresiones que realizamos con el cuerpo pueden decir mucho de nosotros. Esta es tu oportunidad para aprender técnicas de comunicación no verbal y relajación que podrás aplicar cuando te enfrentes a una entrevista laboral.
                </div>
                <!-- List group -->
                <ul class="list-group small">
                  <li class="list-group-item"><b>Expositores: </b>Larisa Michell</li>
                  <li class="list-group-item"><b>Lugar: </b>Sala S25</li>
                  <li class="list-group-item"><b>Horario: </b>10:00 - 11:30 hrs</li>
                </ul>                  <!-- Default panel contents -->
                  
                </div>
            </div>
            <div class="col-md-4">
              <div class="panel panel-danger">
                <!-- Default panel contents -->
              <div class="panel-heading">
                <h3 class="panel-title">Taller de Preparación de Entrevista Laboral</h3>
              </div>
                  <div class="panel-body small">
                    Se viene una entrevista laboral y no sabes qué decir, qué preguntar o incluso cómo ir vestido. Aquí podrás saber un poco más sobre cómo prepararte frente a esta situación y así que tu entrevista resulte un completo éxito.  
                  </div>
                  <!-- List group -->
                  <ul class="list-group small">
                    <li class="list-group-item"><b>Expositores: </b>Pilar Valderrama – Área de Comunicaciones</li>
                    <li class="list-group-item"><b>Lugar: </b>Auditorio Enrique D'Etigny</li>
                    <li class="list-group-item"><b>Horario: </b>12:00 - 13:30 hrs</li>
                  </ul>
              </div>  
            </div>
            <div class="col-md-4">
               <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">
                  <h3 class="panel-title">Speed-Dating de Entrevistas Laborales</h3>
                </div>
                <div class="panel-body small">
                  Siempre hay cosas que se pueden mejorar. Queremos aprovechar de ayudarte en este proceso y mostrar que aspectos generales de una entrevista cumples a cabalidad y cuales son mejorables. Atrévete a simular una entrevista laboral en 5 minutos.
                </div>
                <!-- List group -->
                <ul class="list-group small">
                  <li class="list-group-item"><b>Expositores: </b>Katherine Lizama (Calidad de Vida), Pilar Valderrama (Área de Comunicaciones), Patricia Muñoz (SAE)</li>
                  <li class="list-group-item"><b>Lugar: </b>Cafetería 851, Auditorio Enrique D'Etigny</li>
                  <li class="list-group-item"><b>Horario: </b>14:30 - 16:00 hrs</li>
                </ul>
              </div> 
            </div>
        </div>

        <!--
          <div class="row">
            <b>Preparación de entrevista laboral</b>
            <br>Expositores: Pilar Valderrama – Área de Comunicaciones
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 10:00-12:00
            <br><br>
            <b>Taller de Expresión Corporal</b>
            <br>Expositores: Larisa Michell.
            <br>Lugar: Sala S25
            <br>Horario: 12:00-13:30
            <br><br>
            <b>Speed-Dating de entrevistas laborales</b>
            <br>Expositores: Calidad de Vida (1-2), Sebastián Conde,Ricardo Mancilla, Pilar Valderrama, Patricia Muñoz.
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 14:30-16:00
          </div>


                -->
          
          <div class="row">
          	<h3 class="block-heading">Viernes 9 de Septiembre: Día de Paneles</h3>
          </div>


          <div class="row space-bottom">
              <div class="col-md-6">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Panel de embajadas: Oportunidades en el extranjero</h3>
                    </div>
                    <div class="panel-body small">
                      ¿Quieres enterarte de las oportunidades y beneficios que existen para nosotros en otros países? Acércate a conversar con representantes de Japón, Nueva Zelanda, Canadá, Alemania, Francia e Indonesia. Este es tú momento de ir a trabajar al extranjero.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositores: </b>Embajadas de Japón, Francia, Nueva Zelanda, Canadá, Alemania e Indonesia.</li>
                      <li class="list-group-item"><b>Lugar: </b>Sala S24</li>
                      <li class="list-group-item"><b>Horario: </b>10:00 - 12:00 hrs</li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-6">
                 <div class="panel panel-danger">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Panel: El Emprendimiento Como Opción Laboral</h3>
                    </div>
                    <div class="panel-body small">
                      ¿Te pica el bichito de crear tu propia empresa? ¿Tienes interés no sólo en empresas tradicionales de tu carrera? Distintos profesionales involucrados con el emprendimiento nos cuentan su experiencia, triunfos y fracasos a lo largo de este proceso profesional.

                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositores: </b>
                        <ul>
                          <li><span>América Silva (CEO de TakeaHand)</span></li>
                          <li><span>Solsiré Giaverini (Directora del Centro de Desarrollo de Negocios de San Bernardo y socia fundadora de la ONG Construyendo Mis Sueños)</span></li>
                          <li><span>Francisco Torrealba (Cofundador y gerente de estrategia de Valhalla)</span></li>
                          <li><span>Jaime Alée (Gerente de Innovación y Emprendimiento de OpenBeauchef)</span></li>
                        </ul>
                      </li>
                      <li class="list-group-item"><b>Lugar: </b>OpenLab (2do piso, Beauchef Poniente, 851)</li>
                      <li class="list-group-item"><b>Horario: </b>12:00 - 13:30 hrs</li>
                    </ul>
                  </div>
              </div>

          </div>
          
        <!--
        <div class="row space-top-2x">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1>¡Inscríbete!</h1>
              <p>Todas las actividades tienen cupos limitados, no te pierdas la oportunidad de participar y prepararte para tu salto al mundo laboral.</p>
              <p><a href="{% url 'inscriptions_spl' %}" class="btn btn-primary btn-lg" role="button">Inscríbete aquí</a></p>
            </div>
          </div>
        </div>
        -->
        <div class="col-md-12">
          <div class="alert alert-success text-center">En colaboración con: Subdirección de Asuntos Estudiantiles, Unidad de Calidad de Vida, Área de Comunicaciones & Dirección de Vinculación Externa</div>
        </div>

  
            <!-- Modal: Lunes Multi-charlas -->
            <div class="modal fade" id="Multicharlas" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Multi-charlas de Contexto Laboral</h4>
                        </div>

                        <div class="modal-body small">
                            <div class="tron-example table-responsive">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Especialidad</th>
                                            <th>Hora</th>
                                            <th>Lugar</th>
                                            <th>Expositor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="warning">
                                            <td>Astronomía</td>
                                            <td>Lunes 14:30 hrs</td>
                                            <td>Sala G201</td>
                                            <td>Prof. Paulina Lira</td>
                                        </tr>
                                        <tr>
                                            <td>Civil</td>
                                            <td>Lunes 12:00 hrs</td>
                                            <td>Sala F12</td>
                                            <td>Prof. Roberto Gesche</td>
                                        </tr>
                                        <tr>
                                            <td>Computación</td>
                                            <td>Martes 12:00 hrs</td>
                                            <td>Auditorio Picarte, Edificio Norte, 851</td>
                                            <td>Prof. Cecilia Bastarrica</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Eléctrica</td>
                                            <td>Lunes 12:00 hrs</td>
                                            <td>Auditorio Eléctrica (4to piso)</td>
                                            <td>Prof. Patricio Mendoza</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Física</td>
                                            <td><i>Cancelado</i></td>
                                            <td><i>Cancelado</i></td>
                                            <td><i>Cancelado</i></td>
                                        </tr>
                                        <tr>
                                            <td>Geofísica</td>
                                            <td>Lunes 14:30 hrs</td>
                                            <td>Sala F20</td>
                                            <td>Prof. Daniel Díaz</td>
                                        </tr>
                                        <tr>
                                            <td>Geología</td>
                                            <td><B>SUSPENDIDA</B></td>
                                            <td><B>SUSPENDIDA</B></td>
                                            <td><B>SUSPENDIDA</B></td>
                                        </tr>
                                       <tr>
                                            <td>Industrias</td>
                                            <td>Lunes 14:30 hrs</td>
                                            <td>Sala B212</td>
                                            <td>Prof. Claudio Pizarro</td>
                                        </tr>
                                        <tr>
                                            <td>IQBT</td>
                                            <td>Lunes 14:30 hrs</td>
                                            <td>Sala Seminario IQBT, Edificio Poniente, 851</td>
                                            <td>Prof. Felipe Díaz</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Matemáticas</td>
                                            <td>Lunes 12:00 hrs</td>
                                            <td>Sala Seminario, 4to piso, Edificio Norte, 851</td>
                                            <td>Prof. Joaquin Fontbona</td>
                                        </tr>
                                        <tr>
                                            <td>Mecánica</td>
                                            <td>Lunes 12:00 hrs</td>
                                            <td>Sala de Proyectos, 4to piso, Edificio Poniente, 851</td>
                                            <td>Prof. Leonel Núñez</td>
                                        </tr>
                                        <tr>
                                            <td>Minas</td>
                                            <td>Lunes 12:00 hrs</td>
                                            <td>Q12</td>
                                            <td>Prof. Aldo Casali</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>



    </div>
    </section>

{% endblock container %}

{% block scripts %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/bootstrap/js/jquery.min.js"><\/script>')</script>
<script src="{% static 'tron/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'tron/js/vendor/smoothscroll.js' %}"></script>
<script src="{% static 'tron/js/tron-ui.js' %}"></script>
<script src="{% static 'tron/js/demo.js' %}"></script>
<script src="{% static 'tron/outdatedbrowser/outdatedbrowser.min.js' %}"></script>
<script src="{% static 'tron/outdatedbrowser/outdatedbrowser.init.js' %}"></script>

{% endblock scripts %}