{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}Semanas Preparación Laboral{% endblock %}

{% block styles %}
    <link href="{% static 'tron/css/demo.css' %}" rel="stylesheet">
    <link href="{% static 'tron/examples/team/team.css' %}" rel="stylesheet">
    <link href="{% static 'tron/outdatedbrowser/outdatedbrowser.css' %}" rel="stylesheet">
{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="spl" %}
{% endblock %}

{% block container %}

    <section class="demo-page padding-bottom-2x">
      <div class="container">


        <!-- Page Header with Breadcrumbs -->
        <div class="page-header-with-breadcrumb">
            <div class="page-header td">
                <h1>Semana de Preparación Laboral<small></small></h1>
            </div>
            <div class="td text-right">
                <ol class="breadcrumb">
                    <li><a href="{% url 'home' %}">Inicio</a></li>
                    <li><a href="{% url 'about' %}">Sobre Nosotros</a></li>
                    <li class="active">Semana Preparación Laboral</li>
                </ol>
            </div>
        </div><!-- Page Header End -->

          <div class="row space-top space-bottom">
            La <b>Semana de Preparación Laboral</b> nace con el fin de apoyar a los estudiantes y egresados de la Facultad de Ciencias Físicas y Matemáticas de la Universidad de Chile en su proceso de ingresar al mundo laboral. Consiste en una serie de actividades, como charlas, talleres, conversatorios y paneles, que buscan acompañarlos en la búsqueda de opciones y en la preparación para los actuales procesos de selección.
          </div>
          <div class="col-md-12">
              <div class="alert alert-info text-center">Para inscribirte a las actividades <a href="{% url 'inscriptions_spl' %}">HAZ CLICK AQUÍ</a>  </div>
          </div>
          <br>
          
          <div class="row">
          	<h3 class="block-heading">Lunes 28 de Agosto: Contexto Laboral</h3>
          </div>

          <div class="row space-bottom">
              <div class="col-sm-8 col-md-offset-2">
                 <div class="panel panel-warning">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Charlas-Paneles de Contexto Laboral</h3></div>
                    <div class="panel-body small">
                      Entérate de cómo está la situación laboral al momento de que egreses, opciones de trabajo, dificultad de encontrar empleo, entre otros aspectos y prepárate para el mundo laboral. Además, si estás eligiendo alguna especialidad, entérate de qué consiste esa carrera.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><button type="button" class="btn btn-info btn-sm icon-right" data-toggle="modal" data-target="#Multicharlas">Ver detalles por carrera</button></li>
                    </ul>
                  </div>
              </div>

          </div>

          <div class="row">
          	<h3 class="block-heading">Martes 29 de Agosto</h3>
          </div>

          <div class="row space-bottom">
              <div class="col-md-8 col-md-offset-2">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Charla Ética: ¿Y tú, qué harías?</h3>
                    </div>
                    <div class="panel-body small">
                      Es importante entender que nuestro rol en la sociedad es determinante y por lo mismo debemos ser capaces de desenvolvernos de manera ética y profesional. Por lo mismo, queremos invitarlos a una charla de ética profesional para ingenieros donde la fundación del colegio de ingenieros y el instituto de ingenieros nos hablarán de cómo abordar éticamente las distintas situaciones que se nos van a presentar al momento de integrarnos al mundo labora.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositores: </b>Arturo Gana y Juan Carlos Barros</li>
                      <li class="list-group-item"><b>Lugar: </b>S19</li>
                      <li class="list-group-item"><b>Horario: </b>14:30 - 16:00 hrs</li>
                    </ul>
                  </div>
              </div>


          </div>

          <div class="row">
          	<h3 class="block-heading">Miércoles 30 de Agosto</h3>
          </div>

          <div class="row space-bottom">
              <div class="col-md-8 col-md-offset-2">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Charla EF: "El inglés en el futuro laboral”</h3>
                    </div>
                    <div class="panel-body small">
                      El instituto de idiomas, Education First, nos deleitará con una charla acerca de la importancia del inglés en el futuro laboral.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositor: </b>Representante de Education First</li>
                      <li class="list-group-item"><b>Lugar: </b>Sala B06</li>
                      <li class="list-group-item"><b>Horario: </b>14:30 - 16:00 hrs</li>
                    </ul>
                  </div>
              </div>
          </div>






          <!--
          <div class="row">
          	<b>Charla: “Aumenta tus posibilidades profesionales al tener experiencia en el extranjero”</b>
            <br>Expositor: Education First.
            <br>Lugar: Sala B01
            <br>Horario: 10:00-12:00
            <br><br>
          	<b>Foro: Conversatorio Internacional</b>
            <br>Expositores: IIE y Relaciones Internacionales FCFM
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 14:30-16:00          
          </div>
          -->

          
          <div class="row">
          	<h3 class="block-heading">Viernes 1 de Septiembre: Experiencia Internacional</h3>
          </div>



        <div class="row space-bottom">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-warning">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel de Embajadas</h3>
                  </div>
                  <div class="panel-body small">
                    ¿Quieres enterarte de las oportunidades y beneficios que existen para nosotros en otros países? Acércate a conversar con representantes de Francia, Canadá, Nueva Zelanda, Australia y Portugal. Este es tú momento para poder ir a trabajar al extranjero.
                  </div>
                  <!-- List group -->
                  <ul class="list-group small">
                    <li class="list-group-item"><b>Expositores: </b>Representantes de Embajadas</li>
                    <li class="list-group-item"><b>Lugar: </b>Auditorio y Cafetería Enrique D'Etigny</li>
                    <li class="list-group-item"><b>Horario: </b>10:00 - 13:00 hrs</li>
                  </ul>
                </div>
            </div>
 

        </div>




        <!--
          <div class="row">
            <b>¿Cómo crear tu CV?</b>
            <br>Expositores: Katherine Lizama – Calidad de Vida.
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 10:00-12:00
            <br><br>
            <b>Charla: Adquiere una ventaja competitiva al crear tu CV y carta de presentación en inglés</b>
            <br>Expositores: Education First.
            <br>Lugar: Sala B104
            <br>Horario: 12:00-13:30
            <br><br>
            <b>Taller de CV</b>
            <br>Expositores: Calidad de Vida (1-2), Sebastián Conde, Ricardo Mancilla, Pilar Valderrama, Patricia Muñoz.
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 14:30-16:00 (Duración por alumno: 2 minutos)
          </div>
          -->

          
          <div class="row">
          	<h3 class="block-heading">Martes 5 de Septiembre: Preparación de CV y Entrevista</h3>
          </div>
            <div class="row space-bottom">
            <div class="col-md-6">
               <div class="panel panel-info">
                <!-- Default panel contents -->
                <div class="panel-heading">
                  <h3 class="panel-title">Charla: Tips para Curriculum y Entrevista</h3></div>
                <div class="panel-body small">
                  ¿No sabes qué colocar en tu CV?¿No sabes qué decir en una entrevista? Entérate de los principales tips y herramientas para mejorar tu CV y aprende un poco más sobre cómo enfrentarte a una entrevista para obtener mejores resultados en estas instancias.
                </div>
                <!-- List group -->
                <ul class="list-group small">
                  <li class="list-group-item"><b>Expositores: </b>Katherine Lizama y Valeria Velásquez (Calidad de Vida).</li>
                  <li class="list-group-item"><b>Lugar: </b>Sala S26</li>
                  <li class="list-group-item"><b>Horario: </b>10:00 - 11:45 hrs</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-warning">
                <!-- Default panel contents -->
                <div class="panel-heading">
                  <h3 class="panel-title">Taller: Pon a Prueba Tu CV</h3></div>
                <div class="panel-body small">
                  ¿No sabes cómo mejorar tu CV para que sea atractivo y muestre lo justo y necesario? En este taller analizaramos tu CV y te daremos sugerencias en tiempo récord. Para que enviar un buen currículum ya no sea un problema.
                </div>
                <!-- List group -->
                <ul class="list-group small">
                  <li class="list-group-item text-center">
                    <p>Para esta actividad es <b>REQUISITO</b> llevar el CV impreso. Si no tienes uno puedes usar el formato tipo diseñado para la FCFM que puedes descargar <a href="{% url 'cv' %}">aquí</a>.</p>
                  <button type="button" class="btn btn-sm btn-default"><a href="{% url 'cv' %}">Descargar formato tipo CV</a></button>
                  </li>
                  <li class="list-group-item"><b>Expositores: </b>Roberto León (Calidad de Vida), Patricia Muñoz (Subdirectora de Asuntos Estudiantiles) y Jaime Ortega (Profesor del departamento Ingenireía Matemática)</li>
                  <li class="list-group-item"><b>Lugar: </b>Sala Multiuso, Zócalo de Hall Sur</li>
                  <li class="list-group-item"><b>Horario: </b>14:00 - 16:00 hrs (Duración aproximada de 7 min por alumno)</li>
                </ul>                  <!-- Default panel contents -->
                  
                </div>
            </div>
        </div>

        <!--
          <div class="row">
            <b>Preparación de entrevista laboral</b>
            <br>Expositores: Pilar Valderrama – Área de Comunicaciones
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 10:00-12:00
            <br><br>
            <b>Taller de Expresión Corporal</b>
            <br>Expositores: Larisa Michell.
            <br>Lugar: Sala S25
            <br>Horario: 12:00-13:30
            <br><br>
            <b>Speed-Dating de entrevistas laborales</b>
            <br>Expositores: Calidad de Vida (1-2), Sebastián Conde,Ricardo Mancilla, Pilar Valderrama, Patricia Muñoz.
            <br>Lugar: Auditorio D'Etigny
            <br>Horario: 14:30-16:00
          </div>


                -->
          
          <div class="row">
          	<h3 class="block-heading">Miércoles 6 de Septiembre: Preparación de CV y Entrevista</h3>
          </div>


          <div class="row space-bottom">
              <div class="col-md-6">
                  <div class="panel panel-info">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Taller: Expresión Corporal</h3>
                    </div>
                    <div class="panel-body small">
                      Las expresiones que realizamos con el cuerpo pueden decir mucho de nosotros. Esta es tu oportunidad para aprender técnicas de comunicación no verbal y relajación que podrás aplicar cuando te enfrentes a una entrevista laboral.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                      <li class="list-group-item"><b>Expositores: </b>Katherine Lizama y Valeria Velásquez (Calidad de Vida)</li>
                      <li class="list-group-item"><b>Lugar: </b>Cafetería Enrique D'Etigny - Sala 4° piso Torre Central (realización en paralelo)</li>
                      <li class="list-group-item"><b>Horario: </b>10:00 - 11:45 hrs</li>
                    </ul>
                  </div>
              </div>
              <div class="col-md-6">
                 <div class="panel panel-warning">
                    <!-- Default panel contents -->
                    <div class="panel-heading">
                      <h3 class="panel-title">Taller de Entrevista: Simula Tu Entrevista de Trabajo</h3>
                    </div>
                    <div class="panel-body small">
                      Siempre hay cosas que se pueden mejorar. Queremos aprovechar de ayudarte en este proceso y mostrar que aspectos generales de una entrevista cumples a cabalidad y cuales son mejorables. Atrévete a simular una entrevista laboral en 7 minutos.
                    </div>
                    <!-- List group -->
                    <ul class="list-group small">
                        <li class="list-group-item text-center">
                            <p>Para esta actividad es <b>REQUISITO</b> llevar el CV impreso. Si no tienes uno puedes usar el formato tipo diseñado para la FCFM que puedes descargar <a href="{% url 'cv' %}">aquí</a>.</p>
                            <button type="button" class="btn btn-sm btn-default"><a href="{% url 'cv' %}">Descargar formato tipo CV</a></button>
                        </li>
                        <li class="list-group-item"><b>Expositores: </b>Katherine Lizama(Calidad de Vida), Valeria Velásquez(Calidad de Vida), Patricia Muñoz (Subdirectora de Asuntos Estudiantiles) y Jaime Ortega (Profesro del departamento Ingeniería Matemática</li>
                        <li class="list-group-item"><b>Lugar: </b>Cafetería Enrique D'Etigny</li>
                        <li class="list-group-item"><b>Horario: </b>14:00 - 16:00 hrs (Duración aproximada de 7 min por alumno)</li>
                    </ul>
                  </div>
              </div>

          </div>
          <div class="row">
          	<h3 class="block-heading">Viernes 8 de Septiembre: Emprendimientos</h3>
          </div>



        <div class="row space-bottom">
            <div class="col-md-8 col-md-offset-2">
                <div class="panel panel-info">
                  <!-- Default panel contents -->
                  <div class="panel-heading">
                    <h3 class="panel-title">Panel: El Emprendimiento Como Opción Laboral </h3>
                  </div>
                  <div class="panel-body small">
                    ¿Te pica el bichito de crear tu propia empresa? ¿Tienes interés no sólo en empresas tradicionales de tu carrera? Distintos profesionales dedicados al emprendimiento nos cuentan su experiencia, triunfos y fracasos a lo largo de este proceso profesional.
                  </div>
                  <!-- List group -->
                  <ul class="list-group small">
                    <li class="list-group-item"><b>Expositores: </b>Miguel Schpeir (fundador de PowerGym), Carolina Pérez (fundadora de Immersive News), Paulina Salazar (fundadora de LabNettings) y Alan (fundador de Wuabi)</li>
                    <li class="list-group-item"><b>Lugar: </b>B07</li>
                    <li class="list-group-item"><b>Horario: </b>12:00 - 14:00 hrs</li>
                  </ul>
                </div>
            </div>


        </div>
          
        <!--
        <div class="row space-top-2x">
          <div class="col-md-12">
            <div class="jumbotron">
              <h1>¡Inscríbete!</h1>
              <p>Todas las actividades tienen cupos limitados, no te pierdas la oportunidad de participar y prepararte para tu salto al mundo laboral.</p>
              <p><a href="{% url 'inscriptions_spl' %}" class="btn btn-primary btn-lg" role="button">Inscríbete aquí</a></p>
            </div>
          </div>
        </div>
        -->
        <div class="col-md-12">
          <div class="alert alert-success text-center">En colaboración con: Subdirección de Asuntos Estudiantiles, Unidad de Calidad de Vida, Área de Comunicaciones & Dirección de Vinculación Externa</div>
        </div>

  
            <!-- Modal: Lunes Multi-charlas -->
            <div class="modal fade" id="Multicharlas" tabindex="-1" data-backdrop="static" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">

                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Multi-charlas de Contexto Laboral</h4>
                        </div>

                        <div class="modal-body small">
                            <div class="tron-example table-responsive">
                                <table class="table table-striped table-condensed">
                                    <thead>
                                        <tr>
                                            <th>Especialidad</th>
                                            <th>Hora</th>
                                            <th>Lugar</th>
                                            <th>Expositor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="warning">
                                            <td>Astronomía</td>
                                            <td>14:30 hrs</td>
                                            <td>Sala G301</td>
                                            <td>Prof. Valentino González</td>
                                        </tr>
                                        <tr>
                                            <td>Civil</td>
                                            <td>12:00 hrs</td>
                                            <td>Sala F20</td>
                                            <td>Prof. Marlena Murillo y Manuel Ruz</td>
                                        </tr>
                                        <tr>
                                            <td>Computación</td>
                                            <td>12:00 hrs</td>
                                            <td>Auditorio Picarte, Edificio Norte, 851</td>
                                            <td>Prof. Cecilia Bastarrica</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Eléctrica</td>
                                            <td>12:00 hrs</td>
                                            <td>Auditorio Eléctrica (4to piso)</td>
                                            <td>Prof. Pablo Medina</td>
                                        </tr>
                                        <tr>
                                            <td>Geofísica</td>
                                            <td>14:30 hrs</td>
                                            <td>Sala de Estudio (2do piso Civil)</td>
                                            <td>Prof. Daniel Díaz</td>
                                        </tr>
                                        <tr>
                                            <td>IQBT</td>
                                            <td>14:30 hrs</td>
                                            <td>Sala Por Confirmar</td>
                                            <td>Prof. Felipe Díaz</td>
                                        </tr>
                                        <tr class="warning">
                                            <td>Matemáticas</td>
                                            <td>16:15 hrs</td>
                                            <td>Sala B01</td>
                                            <td>Prof. Emilio Vilches</td>
                                        </tr>
                                        <tr>
                                            <td>Mecánica</td>
                                            <td>12:00 hrs</td>
                                            <td>Sala de Proyectos, 4to piso, Edificio Poniente, 851</td>
                                            <td>Prof. Italo Tapia y José Cardemil</td>
                                        </tr>
                                        <tr>
                                            <td>Minas</td>
                                            <td>14:30 hrs</td>
                                            <td>Sala QO</td>
                                            <td>Prof. Xavier Emery</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>


                    </div>
                </div>
            </div>



    </div>
    </section>

{% endblock container %}

{% block scripts %}

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="../static/bootstrap/js/jquery.min.js"><\/script>')</script>
<script src="{% static 'tron/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'tron/js/vendor/smoothscroll.js' %}"></script>
<script src="{% static 'tron/js/tron-ui.js' %}"></script>
<script src="{% static 'tron/js/demo.js' %}"></script>
<script src="{% static 'tron/outdatedbrowser/outdatedbrowser.min.js' %}"></script>
<script src="{% static 'tron/outdatedbrowser/outdatedbrowser.init.js' %}"></script>

{% endblock scripts %}