{% extends "base.html" %}

{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title %}{{ block.super }}No Encontrado{% endblock %}

{% block navbar-left %}
  {% include "_navbar.html" with active_link="home" %}
{% endblock %}



{% block container %}

    <section class="demo-page padding-bottom-2x">
      <div class="container">
          <h1 class="text-primary">Pagina no encontrada!</h1>

      </div>
    </section>

{% endblock container %}


{% block scripts %}

{% endblock scripts %}
